language: node_js
cache:
  directories:
    - node_modules
sudo: false
node_js:
  - "stable"
before_script:
  - "export CHROME_BIN=chromium-browser"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
install:
  - npm install
notifications:
  email: false
